- var monthName = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]

div.blog.blogPost
	h4
		a(href=post.url) !{post.title}
	p.meta
		- var monthNumber = post.date.getMonth()
		- var month = monthName[monthNumber]
		#{month}, #{post.date.getDate()} #{post.date.getFullYear()} 
	!{post.content}