div.blog.blogPreview
	- var posts = getPosts(0,1)
	- each post in posts
		h4
			a(href=post.url) !{post.title}
		p.meta
			#{post.date.getMonth()+1}, #{post.date.getDate()} #{post.date.getFullYear()} 
			- each tag in post.tags
				a( href= tagUrl( tag )) !{tag}
				| , 
		!{post.preview}