extends layout

block links
	#links
		h3 Links
		ul.list
			li
				a(href="mailto:david@slantback.net") david@slantback.net
			li
				a(href="http://twitter.com/mrdcrowley") @mrdcrowley
			li
				a(href="http://slantback.tumblr.com/") Tumblr
			li
				a(href="https://github.com/mrdcrowley/") GitHub
			li
				a(href="http://www.youtube.com/user/slantback/videos") YouTube

block content

block tumblr
	ul.posts
		- each post in postsTumblr
			li(class='#{post.type}')
				//- LINKS
				- if ( post.type == 'link' )
					p
						a(href='#{post.url}') !{post.title}
					p
						!{post.description}
				//- PHOTOS
				- if ( post.type == 'photo' )
					each photo in post.photos
						a(href='#{photo.alt_sizes[0].url}')
							img(data-original="#{photo.alt_sizes[0].url}", height="auto", width="auto", src="/img/placeholder.gif")
						p
							!{post.caption}
					#{post.title}
					!{post.text}
				//- QUOTES
				- if ( post.type == 'quote' )
					p
						!{post.text}
					p
						!{post.source}
				//- VIDEOS
				- if ( post.type == 'video' )
					!{post.player[0].embed_code}
					p
						!{post.caption}
	p.subtle
		| More on 
		a( href='http://slantback.tumblr.com/') slantback.tumblr.com

block twitter
	p
		| Vivamus hendrerit arcu sed erat molestie
		| vehicula.

