extends layout



block links
	#links
		h3 Links
		ul.list
			li
				a(href="mailto:david@slantback.net") david@slantback.net
			li
				a(href="http://twitter.com/mrdcrowley") @mrdcrowley
			li
				a(href="http://slantback.tumblr.com/") Tumblr
			li
				a(href="https://github.com/mrdcrowley/") GitHub
			li
				a(href="http://www.youtube.com/user/slantback/videos") YouTube

block content

block tumblr
	h3 Blog
	ul.posts
		- each id in postsTumblr
			li
				//- LINKS
				- if ( id.type == 'link' )
					p
						a(href='#{id.url}') !{id.title}
					p
						!{id.description}
				//- PHOTOS
				- if ( id.type == 'photo' )
					each photo in id.photos
						a(href='#{photo.alt_sizes[0].url}')
							img(src='#{photo.alt_sizes[0].url}')
						p
							!{id.caption}
					#{id.title}
					!{id.text}
				//- QUOTES
				- if ( id.type == 'quote' )
					p
						!{id.text}
					p
						!{id.source}
				//- VIDEOS
				- if ( id.type == 'video' )
					!{id.player[0].embed_code}
					p
						!{id.caption}
	p.subtle
		| More on 
		a( href='http://slantback.tumblr.com/') slantback.tumblr.com

block twitter
	p
		| Vivamus hendrerit arcu sed erat molestie
		| vehicula.

